trigger:
- main
- feature/*

variables:
  SERV_CONN: 'new_service_con'
  WORK_DIR: '$(System.DefaultWorkingDirectory)/environment/dev'

parameters:
  - name: environment
    values: 
      - dev
      - qa
      - prod

stages:
  - stage: PreBuildScanning
    displayName: Pre-Build Scanning
    jobs:
      - job: 
        displayName: TFlint Scan
        continueOnError: true
        pool: TestAgent
        steps:
          - task: PowerShell@2
            inputs:
              targetType: 'inline'
              script: 'tflint'
          
      - job: 
        displayName: TFsec Scan
        continueOnError: true
        pool: TestAgent
        steps:
          - task: PowerShell@2
            inputs:
              targetType: 'inline'
              script: 'tfsec'

                
  - stage: Build   
    displayName: Build (init plan & apply)
    dependsOn: PreBuildScanning
    jobs:
      - job: TerraformInit
        pool: TestAgent
        displayName: Terraform Init & Validate
        steps:
          - task: TerraformTask@5
            inputs:
              provider: 'azurerm'
              command: 'init'
              workingDirectory: '$(System.DefaultWorkingDirectory)/environment/dev'
              backendServiceArm: 'new_service_con'
              backendAzureRmStorageAccountName: 'rhbackendstg'
              backendAzureRmContainerName: 'backendblob'
              backendAzureRmKey: 'terraform.tfstate'
          - task: TerraformTask@5
            inputs:
              provider: 'azurerm'
              command: 'validate'
          - task: TerraformTask@5
            inputs:
              provider: 'azurerm'
              command: 'plan'
              workingDirectory: '$(System.DefaultWorkingDirectory)/environment/dev'
              environmentServiceNameAzureRM: 'new_service_con'
          - task: TerraformTask@5
            inputs:
              provider: 'azurerm'
              command: 'apply'
              workingDirectory: '$(System.DefaultWorkingDirectory)/environment/dev'
              environmentServiceNameAzureRM: 'new_service_con'



          
